
<div class="xlefty">
  <p style="border:none">
    <!--p style="border-top:2px solid #888;border-bottom:none;padding-bottom:0px"-->
    <b>Publications</b><b>.</b>
  </p>
  
  <p style="border:none;white-space:nowrap;padding-top:0px;padding-bottom:0px" >
    <a href="https://scholar.google.com/citations?user=7QW688MAAAAJ&hl=en">
      [html (Google Scholar)]</a>
    &nbsp; 
    <a href="https://mathscinet.ams.org/mathscinet/MRAuthorID/321919">
      [html (MathSciNet)]</a>    
  </p>
  
  <p style="border:none;white-space:nowrap;padding-top:0px;">
    <a href="arxiv_list">[html (arxiv)]</a>
    &nbsp;
    <a href="http://zbmath.org/?q=ai:zikatanov.ludmil-t">[html (Zentralblatt MATH)]</a>
    &nbsp; 
    <!--       <a href="scopus_list">[html (Scopus)]</a>
	       </p>
  <p style="border:none;white-space:nowrap;padding-top:0px;">
    -->
    <a href="http://www.mathnet.ru/php/person.phtml?option_lang=eng&amp;personid=39886">[html
      (Math-Net.Ru)]</a>
  </p>
</div>
