<script  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<div style="width:1000px;height:70px;background-color:rgb(0,0,153);padding:10px 0px 0px 0px">
  
  <div style="float:left; margin: 0px 0px 0px 0px"><a href="http://www.psu.edu"><img  src="/assets/img/psu_logo.png" alt="Penn State Mark"/></a></div>

  <div style="float: left; margin: 15px 0px 0px 50px;color:white;font-size:1.25em;font-style:italic">Welcome to Ludmil's home page</div>

  <div style="float:right;margin:0px 10px 0px 0px"><a href="http://ccma.math.psu.edu"><img src="/assets/img/logotoccma.png" alt="CCMA AT PSU"/></a></div>
</div>
<div class="alltxt">
  <div class="lefty">
    <img src = "/assets/img/l1_2014.jpg" alt="Ludmil's Picture" style="width:124px" />
  </div>
</div>
<div class="righty">
    <p style="border:none"><b>About me.</b>  Since July 2011, I have been holding a Full Professor position at the <a href="http://www.math.psu.edu/">Department of Mathematics</a>, &nbsp; <a href="http://www.psu.edu/">The Pennsylvania State University</a>. <br/>
      
      I graduated from the (the site is in Bulgarian) <a href="http://www.pmg-blg.com/">Mathematics High School</a> in Blagoevgrad, Bulgaria (class of 1981).<br/>
      I received my Ph.D. degree in  Mathematics from
      <a href="https://www.fmi.uni-sofia.bg/en">Sofia University &quot;St. Kliment Ohridski&quot;</a> in Sofia, Bulgaria. 
    </p>
  </div>
  <div class="y"></div>
  <p>
    I am working in the general area of computational mathematics. My
    research is focused on numerical methods for partial differential
    equations; numerical linear algebra; multilevel methods for linear
    systems and optimization; nonlinear approximation tools in compression
    of data and machine learning; and the applications of such
    mathematical techniques in hydrogeology, resource economics, physics
    and other sciences.
  </p>
