{% comment %}
  Single source of truth for the CAM luncheon (pizza) seminar semester links.
  Included by /some_past_seminars.html (base="") and by the pasteable
  footer snippet (base="https://ludmil02.github.io"). Edit here only.
{% endcomment %}
<a href="{{ include.base }}/past_seminars/pizza_numpdes/CAMlunch.html">Spring&nbsp;07</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/CAMlunchF06.html">Fall 06</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/CAMlunchS06.html">Spring 06</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/CAMlunchF05.html">Fall 05</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/CAMlunchS05.html">Spring 05</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/CAMlunchF04.html">Fall 04</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/CAMlunchS04.html">Spring 04</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/CAMlunchF03.html">Fall 03</a>
