{% comment %}
  Single source of truth for the PDEs & Numerical Methods seminar semester links.
  Included by /some_past_seminars.html (base="") and by the pasteable
  footer snippet (base="https://ludmil02.github.io"). Edit here only.
{% endcomment %}
<a href="{{ include.base }}/past_seminars/pizza_numpdes/PDEnumSeminar.html">Fall&nbsp;07</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/PDEnumSeminar_old07sp.html">Spring 07</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/PDEnumSeminar_old06fa.html">Fall 06</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/PDEnumSeminar_old06sp.html">Spring 06</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/PDEnumSeminar_old05fa.html">Fall 05</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/PDEnumSeminar_old05sp.html">Spring 05</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/PDENumF04.html">Fall 04</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/PDEnumSeminar_old04sp.html">Spring 04</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/PDENumF03.html">Fall 03</a> <font color="red">|</font>
<a href="{{ include.base }}/past_seminars/pizza_numpdes/PDEnumSeminar_old03.html">Spring 03</a>
