---
---

@import "{{ site.theme }}";
*{margin:0}
*{font-family: helvetica, verdana, times; font-size:1em;}

/* margins are ordered as: top right bottom left*/
h1{font-weight:bold; font-size:18px;font-family:sans-serif; white-space:nowrap;color:rgb(0,0,153);text-align:center;}
h2{font-weight:bold; font-size:14px; font-family:sans-serif;  margin:0px 10px 0px 0px; display:inline}
h3{font-weight:bold; font-size:14px; font-family:sans-serif; white-space:nowrap}

p.intext{margin:5px 0px 5px 0px; font-family:helvetica, verdana, sans-serif; font-size:20px}

li{font-family: helvetica, verdana, times; font-size:1em; margin:0 0 10px 0;}

img{vertical-align:middle;}

.x { clear: both; height:1px}

.y { clear: both; height:4px;border-bottom:6px solid #888;border-top:none}

a:link {color:#0000FF;}    /* unvisited link */
a:visited {color:#00008B;} /* visited link */
a:hover {color:#FF0000;}   /* mouse over link */
a:active {color:#0000FF;}  /* selected link */

#content {border:3px solid red}

.topmatter {width:640px;height:70px;background-color:rgb(0,0,153);border:3px solid blue}
      .topmatter .lefty {float:left; margin: 10px 10px 0px 0px}
      .topmater .centry  {float: left; margin: 15px 0px 0px 100px;color:white;font-size:1.25em;font-style:italic}
       .topmatter .righty {float:right;margin:0px 10px 0px 0px}

.alltxt {width:100%;clear: both; padding: 10px 10px 10px 10px;border:none}
	.alltxt .lefty { float: left;}
	.alltxt .righty { float: right;}
	.alltxt .xrighty { float: right;}
	.alltxt .xlefty { float: left;font-size:1em;font-family:helvetica, verdana, times;}
	.alltxt p {border-bottom: 2px solid #888;margin:5px 5px 5px 5px; padding:5px 5px 5px 5px}

.xalltxt {width:100%;clear: both; padding: 10px 10px 10px 10px;border-bottom:2px solid red;}
	.xalltxt .xrighty { float: right; width:33%;}
	.xalltxt .xlefty { float: left; width:67%;font-size:1em;font-family:helvetica, verdana, times;}
	.xalltxt p {border:none;margin:5px 5px 5px 5px; padding:5px 5px 5px 5px}
