<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% incllude head_ltz1.html %}
  </head>
  <body>
    <header>
      {% include top_part.html %}
    </header>
    <section>
      
      {{ content }}
      
      {% include table_db.html %}
    </section>
    <footer>
      {% if site.github.is_project_page %}
      <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}

    </footer>
  </body>
</html>
