<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.scss"/>
  </head>
  <body>
    <header>
      {% include top_matter.html %}
    </header>
    <section>
      
      {{ content }}
      
      {% include table_db.html %}
    </section>
    <footer>
      {% if site.github.is_project_page %}
      <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}

    </footer>
  </body>
</html>
